.container {
  position: relative;
  max-width: 60rem;
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--color);
  background-color: var(--color-card-bg);
  box-shadow: var(--box-shadow);
}

.loadingRoot {
  position: absolute;
  inset: 0;
  display: none;
  border-radius: var(--border-radius);
  pointer-events: none;
}

.loadingCircle {
  margin: auto;
  height: 3.6rem;
  width: 3.6rem;
}

.isLoading {
  .loadingRoot {
    display: flex;
    background-color: var(--color-overlay);
    pointer-events: all;
  }

  .loadingCircle {
    animation: rotate 2s normal linear infinite;

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}