.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 3rem auto;
  max-width: 900px;
}

.content {
  padding: 2rem;
}

.infoRoot {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.subtitle {
  color: var(--color-tert);
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}