.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}

.cards {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
}


@media screen and (max-width: 850px) {
  .cards {
    grid-template: auto / 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .root {
    gap: 2rem;
  }

  .button {
    margin-left: auto;
  }

  .cards {
    grid-template: auto / 1fr;
  }
}